.card-inverse {
    background-color: #333 !important; 
    border-color: #333
}
.card-img-top {
    width: 100%;
    min-height: 100px
}
#header-toggle {
    color: #fff; 
    border-color: #fff
}
#header-toggle:hover {
    color: #000; 
    border-color: #fff;
    background-color: #fff;
}
.card {
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}