.card-inverse {
    background-color: #333 !important; 
    border-color: #333
}
#header-toggle {
    color: #292b2c; 
    border-color: #fff;
    margin-bottom: 1.75rem;
    border-radius: 0;
}
#header-toggle:hover {
    color: #fff; 
    border-color: #292b2c;
    background-color: #292b2c;
}
.card {
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
